.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #fee715ff;
  background-color: #101820ff;
  margin-right: 100px;
  margin-left: 160px;
  width: 1000px;
  height: 100%;
}
.Apps{
  text-align: center;
  border: 5px solid #fee715ff;
  background-color: #101820ff;
  color: #FCF6F5FF;
  font-size: "30px";
  font-weight: "300px";
  margin-right: 100px;
  margin-left: 160px;
  width: 1000px;
  height: 100%;
}
.App h1{
  font-family: "sans-serif";
  padding-top: "10px";
  color: #FCF6F5FF;
  font-size: "30px";
  text-align: "center";
  font-weight: "300px";
}
.image {
  margin-top: 10px;
  width: 180px;
  height: 150 px;
}
#gear {
  font-size: 2.4rem;
  color: #fee715ff;
  font-weight: bold;
} 
.Clock{
  background-color: #101820ff;
  border-bottom: 5px solid #fee715ff;
  color: #FCF6F5FF;
  padding-top: "10px";
  font-size: "30px";
  font-weight: "300px";
  text-align: "center";
  width: 1000px;
  height: 100%;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 160px;
}


